<%= javascript_include_tag "project.js" %>

<div class="project-container" id=<%= project_path(project.id) %>>
  <h2>
    <%= truncate(project.title, :length => 39) %>
    <i class="fa fa-plus"></i>
  </h2>
  <input type="text" placeholder="Add New Task">
  <ul class='project-ul'>
    <% project.tasks.each do |task| %>

      <%if task.done%>
        <li class="completed">
          <span><i class="fa fa-trash"></i></span>
            <i><%=task.title%></i>
        </li>      
      <%else%>      
        <li>
          <span><i class="fa fa-trash"></i></span>
            <i><%=task.title%></i>
        </li>      
      <%end%>      

    <% end %>
  </ul>
</div>